html {
  font-family: 'Roboto', sans-serif;
}

body {
  width: 90%;
  margin: auto;
}

h1 {
  color: rgba(58, 48, 141, 0.9);
  text-align: center;
}

.input-data {
  display: flex;
  justify-content: center
}

select {
  width: 100%;
  border: 2px solid #aaa;
  border-radius: 4px;
  margin: 8px 0;
  outline: none;
  padding: 8px;
  box-sizing: border-box;
  transition: .3s;
}

input {
  width: 100%;
  border: 2px solid #aaa;
  border-radius: 4px;
  margin: 8px 0;
  outline: none;
  padding: 8px;
  box-sizing: border-box;
  transition: .3s;
}


input[type=text]:focus {
  border-color: dodgerBlue;
  box-shadow: 0 0 8px 0 dodgerBlue;
}

.download {
  width: 40%;
  border: 2px solid #aaa;
  border-radius: 4px;
  margin: auto;
  display: block;
  outline: none;
  padding: 8px;
  box-sizing: border-box;
  transition: .3s;
  background-color: rgb(207, 207, 238);
  cursor: pointer;
}

.label {
  width: 40%;
  border: 2px solid #aaa;
  border-radius: 4px;
  margin: auto;
  display: block;
  outline: none;
  padding: 8px;
  box-sizing: border-box;
  transition: .3s;
  background-color: rgb(207, 207, 238);
}

.status {
  background-color: #b6cfe4;
}
